<navigation></navigation>

<br/>

<div class="container">
  <div class="jumbotron">
    <div class="row ">
      <div class="col-md-8" >
        <div class="row">
          <div class="row"> 
            <div class="col-xs-12 col-md-12">
              <div  class="thumbnail">
                <div id="video-thumbnail"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" >
        <div class="row"> 
          <div class="col-xs-12 col-md-12">
            <div  class="thumbnail">
              <div id="video-display"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <button id="conectar" class="btn btn-warning" ng-click="vm.login()">
              <span class="glyphicon glyphicon-facetime-video"></span>
            </button>
            <button id="fin" class="btn btn-success" ng-click="vm.funciones.end()">
              <span class="glyphicon glyphicon-stop" ></span>
            </button>
            <button id="pause" class="btn btn-danger" ng-click="vm.funciones.mute()">
              <span class="glyphicon glyphicon-pause"></span>
            </button>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div id="chat" class="txtarea fullsz"></div>
            <!--<input type="text" id="msg" placeholder="Press enter to send message" class="fullsz form-control"/>-->

            <!--EJEMPLO-->
            <div class="pane" id="pane_0">
              <input type="text" placeholder="Nickname" id="nick_field" class="form-control">
              <br>
              <input type="button" value="Set Nickname" id="nick" class="btn btn-info btn-default btn-block">
            </div>
            <div class="pane" id="pane_1" style="display: none">
              <input type="text" placeholder="Ingrese Usuario a Llamar" id="room_field" class="form-control" ng-model="vm.formData.numero">
              <br>
              <input type="button" value="Llamar" id="join" class="btn btn-info btn-default btn-block">
            </div>
            <div class="pane" id="pane_2" style="display: none">
              <div id="messages_container">
              </div>
              <p>
                <input type="text" placeholder="Message" id="message_field" class="form-control">
              </p>
              <input type="button" value="Send Message" id="send" disabled class="btn btn-success btn-default btn-block">
              <input type="button" value="Quit Chat Room" id="quit" class="btn btn-danger btn-default btn-block">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
